body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ff9c2b;
}

#conversor {
    margin: 20px auto;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"], button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
}

#resultado {
    font-weight: bold;
    margin-top: 15px;
}
    